@font-face {
    font-family: '阿里妈妈方圆体 VF Regular';
    src:
        url('@/assets/font/AlimamaFangYuanTiVF-Thin.woff2') format('woff2'),
        url('@/assets/font/AlimamaFangYuanTiVF-Thin.woff') format('woff'),
        url('@/assets/font/AlimamaFangYuanTiVF-Thin.ttf') format('ttf');
    font-display: swap;
}
:root {
    --full-use-theme-text-main-dark: #ffffff;
    --full-use-theme-text-main-light: rgba(0, 0, 0, 0.87);
    --full-use-theme-icon-button-color-light: rgba(0, 0, 0, 0.54);
    --full-use-theme-main: #9286d1;
    --full-use-theme-main-dark: rgb(102, 93, 146);
    --full-use-theme-main-light: rgb(167, 158, 218);
    --full-use-user-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    --full-use-scroll-bar-background-color: #e6e8eb;
    --full-use-scroll-bar-background-color-dark: #424243;
    --swiper-navigation-color: var(--full-use-theme-main);
    --swiper-pagination-color: var(--full-use-theme-main);
}
* {
    font-family: var(--full-use-user-font-family) !important;
}
/* 滚动条宽高 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
/* 滚动条样式 */
::-webkit-scrollbar-thumb {
    background-color: var(--full-use-scroll-bar-background-color);
    border-radius: 8px;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: var(--full-use-scroll-bar-background-color-dark);
}
/* 主题切换动画 */
::view-transition-new(root),
::view-transition-old(root) {
    /* 关闭默认动画，否则影响自定义动画的执行 */
    animation: none;
}

.dark::view-transition-old(root) {
    z-index: 100;
}
/* 回到顶部按钮 */
.back-to-top-button {
    border: 1px solid !important;
    background-color: rgba(146, 134, 209, 0.2) !important;
}
.back-to-top-button:hover {
    background-color: rgba(146, 134, 209, 0.6) !important;
}
.dark .back-to-top-button {
    border: 1px solid !important;
    background-color: rgba(146, 134, 209, 0.6) !important;
}
.dark .back-to-top-button:hover {
    background-color: rgba(146, 134, 209, 0.2) !important;
}

/* 水平激活菜单项 */
.active-horizontal-menu-item {
    background-color: var(--full-use-theme-main-light) !important;
    border-radius: 32px;
}
.active-horizontal-menu-item .MuiTypography-root {
    color: var(--full-use-theme-text-main-dark);
}
.dark .active-horizontal-menu-item {
    background-color: var(--full-use-theme-main-dark) !important;
}
.dark .active-horizontal-menu-item .MuiTypography-root {
    color: var(--full-use-theme-text-main-light);
}

/* 垂直激活菜单项 */
.active-vertical-menu-item {
    background-color: var(--full-use-theme-main) !important;
    border-top-right-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}
.active-vertical-menu-item button {
    background-color: var(--full-use-theme-main-light) !important;
    border-top-right-radius: 32px !important;
    border-bottom-right-radius: 32px !important;
    color: var(--full-use-theme-text-main-dark);
}
.active-vertical-menu-item .MuiTypography-root {
    color: var(--full-use-theme-text-main-dark);
}
.dark .active-vertical-menu-item button {
    background-color: var(--full-use-theme-main-dark) !important;
    color: var(--full-use-theme-icon-button-color-light);
}
.dark .active-vertical-menu-item .MuiTypography-root {
    color: var(--full-use-theme-text-main-light);
}

/* 主题激活按钮 */
.active-theme-button {
    border-color: var(--full-use-theme-main-light) !important;
    color: var(--full-use-theme-main-dark) !important;
    background-color: rgba(146, 134, 209, 0.1) !important;
}
.active-theme-button:hover {
    background-color: rgba(146, 134, 209, 0.2) !important;
}
.dark .active-theme-button {
    border-color: var(--full-use-theme-main-dark) !important;
    color: var(--full-use-theme-main-light) !important;
    background-color: rgba(146, 134, 209, 0.2) !important;
}
.dark .active-theme-button:hover {
    background-color: rgba(146, 134, 209, 0.1) !important;
}
