@font-face {
    font-family: '阿里妈妈方圆体 VF Regular';
    src:
        url('@/assets/fonts/AlimamaFangYuanTiVF-Thin.woff2') format('woff2'),
        url('@/assets/fonts/AlimamaFangYuanTiVF-Thin.woff') format('woff'),
        url('@/assets/fonts/AlimamaFangYuanTiVF-Thin.ttf') format('ttf');
    font-display: swap;
}

:root {
    --full-use-theme-text-main-dark: rgba(255, 255, 255);
    --full-use-theme-text-main-light: rgba(0, 0, 0, 0.87);
    --full-use-theme-icon-button-color-light: rgba(0, 0, 0, 0.54);
    --full-use-theme-main: #9286d1;
    --full-use-theme-main-10: rgba(146, 134, 209, 0.1);
    --full-use-theme-main-20: rgba(146, 134, 209, 0.2);
    --full-use-theme-main-dark: #665d92;
    --full-use-theme-main-light: #a79eda;
    --full-use-user-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    --full-use-scroll-bar-background-color: #00000030;
    --full-use-scroll-bar-background-color-dark: #ffffff30;
    --full-use-scroll-bar-hover-background-color: #0000004d;
    --full-use-scroll-bar-hover-background-color-dark: #ffffff4d;
    --swiper-navigation-color: var(--full-use-theme-main);
    --swiper-pagination-color: var(--full-use-theme-main);
    interpolate-size: allow-keywords;
}

* {
    font-family: var(--full-use-user-font-family) !important;
}

/* 滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--full-use-scroll-bar-background-color);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: var(--full-use-scroll-bar-hover-background-color);
}
.dark ::-webkit-scrollbar-thumb {
    background-color: var(--full-use-scroll-bar-background-color-dark);
}
.dark ::-webkit-scrollbar-thumb:hover {
    background-color: var(--full-use-scroll-bar-hover-background-color-dark);
}

/* 滚动轨道 */
::-webkit-scrollbar-track {
    border-radius: 2px;
}

/* 主题切换动画 */
::view-transition-new(root),
::view-transition-old(root) {
    /* 关闭默认动画，否则影响自定义动画的执行 */
    animation: none;
}
.dark::view-transition-old(root) {
    z-index: 100;
}

/* 水平激活菜单项 */
.active-horizontal-menu-item {
    background-color: var(--full-use-theme-main) !important;
    border-radius: 32px;
}
.active-horizontal-menu-item .MuiTypography-root {
    color: var(--full-use-theme-text-main-dark);
}
.dark .active-horizontal-menu-item .MuiTypography-root {
    color: var(--full-use-theme-text-main-light);
}

/* 垂直激活菜单项 */
.active-vertical-menu-item {
    background-color: var(--full-use-theme-main) !important;
    border-top-right-radius: 32px !important;
    border-bottom-right-radius: 32px !important;
}
.active-vertical-menu-item .icon {
    background-color: var(--full-use-theme-main-light) !important;
    color: var(--full-use-theme-text-main-dark);
}
.active-vertical-menu-item .MuiTypography-root {
    color: var(--full-use-theme-text-main-dark);
}
.dark .active-vertical-menu-item .icon {
    background-color: var(--full-use-theme-main-dark) !important;
    color: var(--full-use-theme-icon-button-color-light);
}
.dark .active-vertical-menu-item .MuiTypography-root {
    color: var(--full-use-theme-text-main-light);
}

/* 主题激活按钮 */
.active-theme-button {
    border-color: var(--full-use-theme-main-light) !important;
    color: var(--full-use-theme-main-dark) !important;
    background-color: var(--full-use-theme-main-10) !important;
    z-index: 1;
}
.active-theme-button:hover {
    background-color: var(--full-use-theme-main-20) !important;
}
.dark .active-theme-button {
    border-color: var(--full-use-theme-main-dark) !important;
    color: var(--full-use-theme-main-light) !important;
    background-color: var(--full-use-theme-main-20) !important;
}
.dark .active-theme-button:hover {
    background-color: var(--full-use-theme-main-10) !important;
}

/* 动画css */
@keyframes shake {
    0% {
        transform: translateY(0) rotate(1deg);
    }
    25% {
        transform: translateY(1px) rotate(-1deg);
    }
    50% {
        transform: translateY(0) rotate(1deg);
    }
    75% {
        transform: translateY(-1px) rotate(-1deg);
    }
    100% {
        transform: translateX(0) rotate(0);
    }
}
